.back {
    background-size:cover;
    height : 100vh;
    width : 100vw;
    background-repeat : no-repeat;
}

/*.arrow{
  width:10px;
}*/

.backcolor{
  background-color:#DBF9FF;
}

.text-center {
    text-align: center;
}
.white{
  background-color:#ffffff;
}

.row1{
  margin-left: 10vw;
  margin-right: 10vw;
}

.videoDiv {
    margin: 0 auto;
}

.video {
    width: 100%;
    height: 100%;
}

.Card{
    background-color: #add8e6;
    border: none;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.faq{
    border: black 1px solid;
}

.faq hr{
    background-color: black;
    height: 2px;
}

.navigation{
  position:absolute;
  width : 100%;
  background-color:#DBF9FF;
  height: 10vh;
}

form {
  width: 100%;
}

.loginBox {
  width: 35%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.signUpSubmit {
  margin: 25px 0 15px 0;
}

.pwStrRow {
  width: 63%;
  text-align: left;
  margin: auto;
  padding: 0;
  font-size: 12px;
}

.pwStrWeak {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  color: gray;
}

.pwStrStrong {
  display: inline-block;
  position: relative;
  left: 77%;
  padding: 0;
  margin: 0;
  color: gray;
}

@media screen and (max-width: 550px) {
  .loginBox {
    width: 85%;
  }
}

#contact{
  width: 100vw;
  background: url("https://static.wixstatic.com/media/c3a0d6_a210178ff65e443681c2db4c7cbba64a~mv2.jpg/v1/crop/x_0,y_212,w_3000,h_478/fill/w_1679,h_269,al_c,q_85,usm_0.66_1.00_0.01/Footer_edited.webp");
  color: white;
}

#contact a{
  color: white;
}
#contact a:hover{
  color: white;
  text-decoration: none;
}
